* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: 'Playfair Display', serif 
}

header, footer {
	color: white;
	margin-top: 10px; 
	background-color: #622070; 
	padding-top: 10px;  
	border-style: double;
	border-color: black;
}

footer {
	text-align: center;
}

.centered {

}

header .subtitle {
	color: white;
}

h1 {
	color: white; 
}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
}

main {
	max-width: 660px;
	margin: 10px auto;
	background-color: white;
	padding-top: 10px;
	border-style: double;
}

section {
}

h2 {
	color: #622070;
	border-bottom: 1px solid #622070;
}

h3 {
	color: #622070;

}

p {

}

.details {
	color: #622070;
}

.object {
	font-weight : bold;
}

.object:after {
	content: " | ";
}

footer, footer h2 {
	color: white;
}

